.home-cantainer{
    background-color:aqua;
}
.home-card{
    border-radius:30px;
    align-items:center;
    overflow: hidden;
    
}
@media screen and (min-width: 480px) {
  body {
    background-color: white;
  }
}
.myDIV {
  margin: auto;
  width: 49px;
  height: 49px;
  align-items: center;
  justify-content: center;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {transform: rotate(180deg);}
}
/* .active {
  background-color: aqua;
  }
  .inactive {
    background-color:transparent;
    color: blue;
    } */